<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
<style type="text/css"> 
        body{
            background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/EBay_logo.svg/2560px-EBay_logo.svg.png" );
        }

    </style>
</head>
<body>
    <h1> eitan's ebay shop </h1>
    <h2> here you can see your pruducts you choose </h2>
    <img src="https://brownsjewellers.com/images/jewellery/True_Love_Fancy_Yellow_Diamond_Necklace_MC9381YT_1.png" width="200px" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF7UatocKxx1jr8Kef34oPFAufkUfUwt86Ig&usqp=CAU" width="200px" >
    <a href="/product">go to product page</a>
    <a href="/"> go back home </a>


</body>
</html>