<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1> eitan's ebay shop </h1>
    <p> in this shop is the highest qualty products in the world </p>
    <img src="https://brownsjewellers.com/images/jewellery/True_Love_Fancy_Yellow_Diamond_Necklace_MC9381YT_1.png" width="200px" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF7UatocKxx1jr8Kef34oPFAufkUfUwt86Ig&usqp=CAU" width="200px" >

      <a href="/product">go to product page</a>
      <a href="/cart">go to your cart </a>

</body>
</html>